body {
    padding-top: 90px;
    color: black;

}

.background-colors {
    background: red;
}

#about-me {
    background: #EEE;
}

#portfolio {
    background: #B4B0B0;
}

#skills {
    background: #EEE;
}

#experience {
    background: #808080;
}

#contact {
    background: white;
}

.navbar-default .navbar-brand {
	color: white;
}

html body div.container div#portfolio.row div.col-xs-12 h3, div#skills.row div.col-xs-12 h3, div#contact.row div.col-xs-12 h3 {
    color: #4C4747;
    font-size: 30px;
    font-family: 'Mukta Mahee', sans-serif;

}

textarea {
    resize: none;
    width: 200px;
}

.send-button {
    margin-top: 10px;
    text-align: left;
    position: absolute;
    left: 30px;
    margin-bottom: 10px;
}

.nav-options {
    float: right;
}

.container-fluid {
    padding: 20px 30px;
    color: white;
}

.container-fluid {
    background: #0097A7;

}

.navbar.navbar-default {
    border: 0;
    margin-bottom: 0;
    position: fixed;
    /* -webkit-box-shadow: none; */
    /* box-shadow: none; */
}

.img-circle {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 10px solid #0097A7;
    -webkit-box-shadow: 11px -8px 72px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px -8px 72px -8px rgba(0,0,0,0.75);
    box-shadow: 11px -8px 72px -8px rgba(0,0,0,0.75);

}

.col-xs-12 {
    text-align: center;
    margin-bottom: 30px;
}

.text-me {
    margin-top: 77px;
    
}

.row {
    padding: 40px 25px 40px 25px;
    align-items: center;
}

.navbar-style {
    padding: 0 20px;
}

.flex-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.page {
    margin-right: 5px;
    text-align: center;
}

.social {
    margin-left: 5px;
    text-align: center;
}

.col-xs-12 > p:nth-child(1) {
    font-size: 25px;

}

.separator,hr {
    background: #0097A7;
    height: 2px;
    margin-top: 50px;
}

html body nav.navbar.navbar-default.navbar-fixed-top div.container-fluid div.container.navbar-style div#bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-options ul.nav.navbar-nav li a.options {
    color: white;
    margin-left: 30px;
}

html body nav.navbar.navbar-default.navbar-fixed-top div.container-fluid div.container.navbar-style div.navbar-header a.navbar-brand {
    color: white;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 25px;
}

html body nav.navbar.navbar-default.navbar-fixed-top div.container-fluid div.container.navbar-style div#bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-options ul.nav.navbar-nav li a.options:hover {
    transform: scale(1.5);
}

html body nav.navbar.navbar-default.navbar-fixed-top div.container-fluid div.container.navbar-style div#bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-options ul.nav.navbar-nav li a.options:active {
    transform: scale(1.5);
}

.activity {
    transform: scale(1.5);
}

.footer {
    background: #0097A7;
    color: white;
}

div.social > div:nth-child(2) > ul:nth-child(1) > li {
    list-style: none;
    display: inline;
}

.w3-container > label {
    padding-right: 475px;
    margin-top: 10px;
    display: none;
}
.text{
  color: #4C4747;
  font-size: 15px;
  text-align: left;
  font-family: 'Mukta Mahee', sans-serif;
}
html body div.container div#contact.row div.col-xs-12.col-sm-6 form.w3-container button.send-button.btn.btn-default.btn-success {
    background: #0097A7;
}

#invitation {
    font-family: 'Oxygen Mono', monospace;
    font-size: 15px;
    opacity: .5;
    margin-top: 40px;
    text-align: left;
}

html body div.container div#skills.row div.col-sm-6.col-lg-6 #actually {
    font-family: 'Oxygen Mono', monospace;
    font-size: 15px;
    opacity: .5;
    margin-top: 40px;
    text-align: left;
}

html body div.container div#skills.row div.col-sm-6.col-lg-6 div.skill-code div.skills {
    margin-bottom: 20px;
}

.fa {
    border-radius: 50%;
    border-style: solid;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

html body div.container div#about-me.row div.col-xs-12.col-md-8.col-lg-8.text-me p {
    font-family: 'Oxygen Mono', monospace;
    font-size: 20px;
    opacity: .5;
    text-align: left;
}

html body div.container div#about-me.row div.col-xs-12.col-md-8.col-lg-8.text-me {
    text-align: center;
}

html body div.container div#contact.row div.col-xs-12.col-sm-6 form.w3-container input {
    margin-bottom: 15px;
}




/* skill bar */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skill-code {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */

}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color:black; /* White text color */
}


.cplusplus{width: 80%; background-color: #2196F3;} /* skyblue */
.java {width: 70%; background-color: #3671A1;} /* Dark blue */
.js {width: 70%; background-color: #FDDA3E;} /* yellow */
.android {width: 70%; background-color:#009688 ; }
.csharp{width: 60%; background-color:#3F51B5 ;}
